/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #2d3af9;
    margin: 20px;
}

h1 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(3, 11, 235, 0.1);
}

a {
    color: #eff212;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
